body {
    background-color: rgb(236, 236, 236);
    padding: 50px; 
}
* {
    box-sizing: border-box;
}
header {
    width: 100%;   
    text-align: center; 

}
#logo_foto {
    width: 10%;
        
}
#search_foto {
    width: 15px;
    height: 15px;
    
}
.search_bar {
    display: inline-block;
    position: relative;
    bottom: 40px;   
}

.search_bar * {
    background-color: rgb(211, 211, 211);
    box-sizing: content-box;
    float: left;
    
}
.arrow {
    border: solid rgb(107, 107, 107);
    border-width: 0 3px 3px 0;
    padding: 3px;
    float: right;
    margin: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
#drop_down_btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;    
    padding: 13px;
    border: none;     
    z-index: -1;    
}

.drp_menu {
    border:1px solid gray;
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    top: 45px;
    z-index: 2;
    width: 12%;
    background: rgb(236, 236, 236);
}
.drp_menu a:hover {
    text-decoration: underline;
}
.drp_menu a {
    padding: 5px;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(107, 107, 107) ;
    background: rgb(236, 236, 236);
    
}
#search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ; 
    padding: 13px;
}
#f_name {
    border:none;
    border-left: 1px solid rgb(136, 136, 136);
    padding: 13px;   
}
#l_name {
    border: none;
    border-left: 1px solid rgb(136, 136, 136);
    padding: 13px;
}
#search {
    border: none;
    border-left: 1px solid rgb(136, 136, 136);
}
#join {
    background: none;
    font-size: 20px;
    text-decoration: none;
    color: rgb(119, 119, 119);
    padding: 10px;
    margin-left: 30px ;
}
#sign {
    background: none;
    border: 1px solid blue;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    color: blue;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px ;

}
#join:hover {
    background: rgb(190, 190, 190) ;
    border-radius: 10px;
    color: black;
}
#sign:hover {
    border: 2px solid blue;
    background: rgb(226, 226, 226);
    padding: 9px;
    padding-left: 19px;
    padding-right: 19px;   
}
.cover_cart {
    width: 50%;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    overflow: hidden;box-sizing: content-box;
    margin: auto;
    box-shadow: 5px 10px 18px #888888;
    height: 680px;
    position: relative;
     
}
#dots {
    width: 5%;
    position: relative;
    bottom: 240px;
    float: right;
    right: 30px;
}
#dots:hover {
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
}
#cover_foto {
    width: 100%;
    position: relative;
    bottom: 250px;
    

}
#profil_foto { 
    width: 20%;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    bottom: 390px;
    margin: 30px;
    box-shadow: 5px 10px 18px #888888; 
}

.daten {
    position: relative;
    bottom: 430px;
    padding: 30px;
}
.links  {
    float: right;
    position: relative;
    bottom: 120px;
    font-size: 1.2rem;
    margin-right: 50px;
    width: 350px;
}
.links div a:hover {
    text-decoration: underline;
}
.links div a {
    text-decoration: none;
    color: blue;
}
   
#name {
    font-size: 2rem;
}
#loc {
    color: grey;
    font-size: 1.1rem;
}
#trust, #school {
    width:9% ;
    box-sizing: content-box;
    padding-right: 10px;
}
#connect_btn {
    position: relative;
    bottom: 430px;
    left: 50px;
    font-size: 1.5rem;
    border-radius: 30px;
    border: none;
    background-color: rgb(58, 58, 255);
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;    
}
#connect_btn:hover {
    background-color: rgb(30, 30, 224) ;   
}
.about, .experince, .education {
    width: 45%;
    margin: auto;
    font-size: 1.3rem;
    border-bottom: 1px solid rgb(189, 189, 189);
    margin-bottom: 25px;
    padding: 20px;
}
#web-app {
    width: 10%;
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid white;
}
.text_exp {
    margin-left: 100px;
}

.date_loc {
    color: rgb(153, 153, 153);
    font-size: 80%;
}
#logo_ni {
    width: 10%;
    float: left;
    margin-right: 15px;
    
}
.contect_educ {
    margin-left: 100px;  
}
.full_profile {
    width: 50%;
    border: 1px solid rgb(189, 189, 189) ;
    border-radius: 10px;
    margin: auto;
    font-size: 1.3rem;
    padding-left: 30px;
}
.logo_profil {
    width: 1.5%;
    margin-right: 5px;
}
#full_prf_btn {
    background: none;
    border: 1px solid blue;
    border-radius: 30px ;
    font-size: 1.3rem;
    margin: 10px;
    padding: 10px;
}
#full_prf_btn:hover {
    border: 2px solid blue;
    background: rgb(226, 226, 226);
    padding: 9px;
    padding-left: 9px;
    padding-right: 9px;
}
#footer_logo {
    width: 5%;
    position: relative;
    top: 25px;
}
#footer_logo, #copyright, .footer_links {
    display: inline;
    box-sizing: content-box;
}
footer {
    width: 100%;   
    text-align: center;   
}
.footer_links a {
    text-decoration: none;
    color: gray;
    margin-left: 10px;   
}
.footer_links a:hover{
    text-decoration: underline;
    color: blue;
}
#down_arrow {
    width: 0.7%;
    margin-left: 1px;
}
@media only screen and (max-width: 400px){
    header {
        width: 100%;
    }
    #join {
        position: relative;
        top: 20px;
        font-size: 1.5rem;
    }
    #sign {
        position: relative;
        top: 20px;
        font-size: 1.5rem;
        left: 50px;

    }
    #logo_foto {
        width: 300px;
        position: relative;  
    }
    #drop_down_btn {
        width: 93.2%;
        border-radius: 0px;
        -webkit-appearance: none;
        border-bottom: 1px solid black;
    }
    #f_name {
        border: none;
    }
    #l_name {
        float: right;
        position: relative;
        bottom: 40px;
    }
    #search {
        border: none;
        position: relative;
        border-top: 1px solid black;  
        width: 92.2%;
        border-radius: 0px;
        bottom: 40px;
    }
    .inputs {
        height: 98px;
    }
    .cover_cart {
        width: 100%;

    }
    #cover_foto {
        width: 100%;
        position: relative;
        bottom: 80px;
    }
    #profil_foto { 
        width: 30%;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid white;
        position: relative;
        bottom: 170px;
        margin: 30px;
        box-shadow: 5px 10px 18px #888888; 
    }
    #name {
        font-size: 20px;
    }
    .daten {
        position: relative;
        bottom: 200px;
        font-size: 12px;
    }
    .links  {
        position: relative;
        top: 100px;
        font-size: 1.2rem;
        width: 350px;
        left: 30px;
        margin: auto;

    }
    #connect_btn {
        position: relative;
        bottom: 50px;
        left: 85px;

       
    }
    .about, .experince, .education, .full_profile {
        width: 100%;
    }
    .logo_profil {
        width: 6%;
    }
    #logo_ni, #footer_logo, #web-app {
        width: 25%;
    }
    
}


    
